@import "tailwindcss";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		background-color: black;
		color: white;
	}
}

@layer components {
}

@layer utilities {
	.bg-gradient {
		@apply bg-[linear-gradient(180deg,rgba(0,0,0,0.7)10%,transparent)];
	}
	.mask-image {
		width: 100%;
		-webkit-mask-image: linear-gradient(to top right, transparent, black 75%);
		mask-image: linear-gradient(to top right, transparent, black 75%);
	}
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}
